<a href="https://colab.research.google.com/github/actuaryhafeez/coding/blob/master/Regular_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Concepts of String Manipulation

# First day!
Congratulations! It's your first day as a data scientist in the company! Your first project is to build a model for predicting if a movie will get a positive or negative review.
You need to start exploring your dataset. In order to create a function that will scan each movie review, you want to know how many characters every string has and print the result out together with a statement that indicate what the number refers to. To test if your function works correctly, you are going to start by analyzing only one example.

The text of one movie review has been already saved in the variable movie. You can use print(movie) to view the variable in the IPython Shell.

In [1]:
movie = 'fox and kelley soon become bitter rivals because the new fox books store is opening up right across the block from the small business .'; movie

'fox and kelley soon become bitter rivals because the new fox books store is opening up right across the block from the small business .'

In [2]:
# Find characters in movie variable
length_string = len(movie); length_string

135

In [3]:
# Convert to string
to_string = str(length_string); to_string

'135'

In [4]:
# Predefined variable
statement = "Number of characters in this review:"; statement

'Number of characters in this review:'

In [5]:
# Concatenate strings and print result
print(statement+ " "+to_string)

Number of characters in this review: 135

In [29]:
my_string = "Awesome day"; my_string

'Awesome day'

In [30]:
print(my_string[-1])

y

In [31]:
print(my_string[0:3])

Awe

In [32]:
print(my_string[::-1])

yad emosewA

In [33]:
my_string = "tHis Is a niCe StriNg"
print(my_string.capitalize())

This is a nice string

In [34]:
my_string.split(sep=" ", maxsplit=2)

['tHis', 'Is', 'a niCe StriNg']

In [35]:
my_string.rsplit(sep=" ", maxsplit=2)

['tHis Is a', 'niCe', 'StriNg']

In [37]:
my_string = "This string will be split\nin two"
print(my_string)

This string will be split
in two

In [38]:
my_string = "This string will be split\nin two"
my_string.splitlines()

['This string will be split', 'in two']

In [39]:
my_list = ["this", "would", "be", "a", "string"]
print(" ".join(my_list))

this would be a string

In [40]:
my_string = " This string will be stripped\n"
my_string.strip()

'This string will be stripped'

In [43]:
my_string = " This string will be stripped\n"
my_string.rstrip()

'This string will be stripped\n'

In [44]:
my_string.lstrip()

'This string will be stripped\n'

In [45]:
my_string = "Where's Waldo?"
my_string.find("Waldo")

8

In [46]:
my_string.find("Wenda")

-1

In [47]:
my_string = "Where's Waldo?"
my_string.find("Waldo", 0, 6)

-1

In [48]:
my_string = "Where's Waldo?"
my_string.index("Waldo")

8

In [49]:
my_string = "Where's Waldo?"
try:
  my_string.index("Wenda")
except ValueError:
  print("Not found")

Not found

In [50]:
my_string = "How many fruits do you have in your fruit basket?"
my_string.count("fruit")

2

In [51]:
my_string.count("fruit", 0, 16)

1

In [54]:
my_string = "The red house is between the blue house and the old house"
print(my_string.replace("house", "car"))

The red car is between the blue car and the old car

In [55]:
print(my_string.replace("house", "car", 2))

The red car is between the blue car and the old house

**Artificial reviews**
While checking out the movie reviews in your dataset, you realize that some of them show an atypical pattern. Since you should only include true reviews in your analysis, you decide to extract the suspicious ones that follow this pattern. You want to see if it is possible to artificially create reviews by using the first and last part of one example review and changing a keyword in the middle.

The text of two movie reviews has been already saved in the variables **movie1 **and **movie2**. You can use the print() function to view the variables in the IPython Shell.

In [6]:
movie1= 'the most significant tension of _election_ is the potential relationship between a teacher and his student .';movie1

'the most significant tension of _election_ is the potential relationship between a teacher and his student .'

In [7]:
movie2= 'the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .'; movie2

'the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .'

In [8]:
# Select the first 32 characters of movie1
first_part = movie1[:32]; first_part

'the most significant tension of '

In [9]:
# Select from 43rd character to the end of movie1
last_part = movie1[42:]; last_part

' is the potential relationship between a teacher and his student .'

In [10]:
# Select from 33rd to the 42nd character
middle_part = movie2[32:42]; middle_part

'_rushmore_'

In [11]:
# Print concatenation and movie2 variable
print(first_part+middle_part+last_part) 
print(movie2)

the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .
the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .

# Palindromes
Next, you are committed to find any peculiarity in the words included in the movie review dataset. A palindrome is a sequence of characters which can be read the same backward as forward, for example: Madam or No lemon, no melon. You realize that there are some funny movie names that can have this characteristic. You want to make a list of all movie titles that are funny palindromes but you will start by analyzing one example.

In python, you can also specify steps by using a third index. If you don't specify the first or second index and the third one is negative, it will return the characters jumping and backwards.

The text of a movie review for one example has been already saved in the variable movie. You can use print(movie) to view the variable in the IPython Shell.

In [12]:
movie = 'oh my God! desserts I stressed was an ugly movie';movie

'oh my God! desserts I stressed was an ugly movie'

In [13]:
# Get the word
movie_title = movie[11:30]; movie_title

'desserts I stressed'

In [15]:
# Obtain the palindrome
palindrome = movie_title[::-1]; palindrome

'desserts I stressed'

In [16]:
# Print the word if it's a palindrome
if movie_title == palindrome:
	print(movie_title)

desserts I stressed

# Normalizing reviews
It's time to extract some important words present in your movie review dataset. First, you need to normalize them and then, count their frequency. Part of the normalization implies converting all the words to lowercase, removing special characters and extracting the root of a word so you count the variants as one.

So imagine you have the following reviews: The movie surprises me very much and Marvel movies always surprise their audience. If you count the word frequency, you will count surprises one time and surprise one time. However, the verb surprise appears in both and its frequency should be two.

The text of a movie review for only one example has been already saved in the variable movie. You can use print(movie) to view the variable in the IPython Shell.

In [17]:
movie = '$I supposed that coming from MTV Films I should expect no less$'; movie

'$I supposed that coming from MTV Films I should expect no less$'

In [18]:
# Convert to lowercase and print the result
movie_lower = movie.lower()
print(movie_lower)

$i supposed that coming from mtv films i should expect no less$

In [19]:
# Remove whitespaces and print the result
movie_no_space = movie_lower.strip("$")
print(movie_no_space)

i supposed that coming from mtv films i should expect no less

In [20]:
# Split the string into substrings and print the result
movie_split = movie_no_space.split()
print(movie_split)

['i', 'supposed', 'that', 'coming', 'from', 'mtv', 'films', 'i', 'should', 'expect', 'no', 'less']

In [21]:
# Select root word and print the result
word_root = movie_split[1][:-1]
print(word_root)

suppose

# Time to join!
While normalizing your text, you noticed that one review had a particular structure. This review ends with the HTML tag <\i> and it has a lot of commas in different places of the sentence. You decide to remove the tag from the end and use the strategy of splitting the string and joining it back again without the commas.

The text of a movie review has been already saved in the variable movie. You can use print(movie) to view the variable in the IPython Shell.

In [22]:
movie =  'the film,however,is all good<\\i>'; movie

'the film,however,is all good<\\i>'

In [23]:
# Remove tags happening at the end and print results
movie_tag = movie.rstrip("<\i>")
print(movie_tag)

the film,however,is all good

In [24]:
# Split the string using commas and print results
movie_no_comma = movie_tag.split(",")
print(movie_no_comma)

['the film', 'however', 'is all good']

In [25]:
# Join back together and print results
movie_join = " ".join(movie_no_comma)
print(movie_join)

the film however is all good

# Split lines or split the line?
You are about to leave work when a colleague asks you to use your string manipulation skills to help him. You need to read strings from a file in a way that if the file contains strings on different lines, they are stored as separate elements. He also wants you to break the strings into pieces if you see that they contain commas.

The text of the file has been already saved in the variable file. You can use print(file) to view the variable in the IPython Shell.

In [26]:
file = 'mtv films election, a high school comedy, is a current example\nfrom there, director steven spielberg wastes no time, taking us into the water on a midnight swim'; file

'mtv films election, a high school comedy, is a current example\nfrom there, director steven spielberg wastes no time, taking us into the water on a midnight swim'

In [27]:
# Split string at line boundaries
file_split = file.splitlines()

# Print file_split
print(file_split)

['mtv films election, a high school comedy, is a current example', 'from there, director steven spielberg wastes no time, taking us into the water on a midnight swim']

In [28]:
# Complete for-loop to split by commas
for substring in file_split:
    substring_split = substring.split(",")
    print(substring_split)

['mtv films election', ' a high school comedy', ' is a current example']
['from there', ' director steven spielberg wastes no time', ' taking us into the water on a midnight swim']

# Finding a substring
It's a new day at work and you need to continue cleaning your dataset for the movie prediction project. While exploring the dataset, you notice a strange pattern: there are some repeated, consecutive words occurring between the character at position 37 and the character at position 41. You decide to write a function to find out which movie reviews show this peculiarity, remembering that the ending position you specify is not inclusive. If you detect the word, you also want to change the string by replacing it with only one instance of the word.

Complete the if-else statement following the instructions.

The text of three movie reviews has been already saved in the variable movies. You can use print(movies) to view the variable in the IPython Shell.

In [73]:
dict = {200: "it's clear that he's passionate about his beliefs , and that he's not just a punk looking for an excuse to beat people up .",
201: "I believe you I always said that the actor actor actor is amazing in every movie he has played",
202: "it's astonishing how frightening the actor actor norton looks with a shaved head and a swastika on his chest."}; dict

{200: "it's clear that he's passionate about his beliefs , and that he's not just a punk looking for an excuse to beat people up .",
 201: 'I believe you I always said that the actor actor actor is amazing in every movie he has played',
 202: "it's astonishing how frightening the actor actor norton looks with a shaved head and a swastika on his chest."}

In [76]:
import pandas as pd
movies = pd.Series(dict); movies

200    it's clear that he's passionate about his beli...
201    I believe you I always said that the actor act...
202    it's astonishing how frightening the actor act...
dtype: object

In [77]:
for movie in movies:
  	# Find if actor occurrs between 37 and 41 inclusive
    if movie.find("actor", 37, 42) == -1:
        print("Word not found")
    # Count occurrences and replace two by one
    elif movie.count("actor") == 2:  
        print(movie.replace("actor actor", "actor"))
    else:
        # Replace three occurrences by one
        print(movie.replace("actor actor actor", "actor"))

Word not found
I believe you I always said that the actor is amazing in every movie he has played
it's astonishing how frightening the actor norton looks with a shaved head and a swastika on his chest.

In [0]:
dict = {137: "heck , jackie doesn't even have enough money for a haircut , looks like , much less a personal hairstylist .",
 138: "in condor , chan plays the same character he's always played , himself , a mixture of bruce lee and tim allen , a master of both kung-fu and slapstick-fu ."}

In [0]:
movies = pd.Series(dict)

# Where's the word?
Before finishing cleaning your dataset, you want to check if a specific word occurs in the reviews. You noticed earlier a specific pattern in the strings. Now, you want to create a function to check if a word is present between characters with index 12, and 50, remembering that ending position is exclusive, and print out the lowest index where this word occurs. There are two methods to handle this situation. You want to see which one works best.

The text of two movie reviews has been already saved in the variable movies. You can use print(movies) to view the variable in the IPython Shell.

In [83]:
for movie in movies:
  try:
    # Find the first occurrence of word
  	print(movie.index('money', 12, 51))
  except ValueError:
    print("substring not found")

39
substring not found

# Replacing negations
In order to keep working with your prediction project, your next task is to figure out how to handle negations that occur in your dataset. Some algorithms for prediction do not work well with negations, so a good way to handle this is to remove either not or n't, and to replace the next word by its antonym.

Let's imagine that you have the string: The movie isn't good. You will need to remove n't and replace good for bad. This way, your string ends up being The movie is bad. You notice that in the first column of the dataset, you have a string that uses the word isn't followed by important.

The text of this column has been already saved in the variable movies so you start working with it. You can use print(movies) to view it in the IPython Shell.

In [88]:
movies = "the rest of the story isn't important because all it does is serve as a mere backdrop for the two stars to share the screen .";movies

"the rest of the story isn't important because all it does is serve as a mere backdrop for the two stars to share the screen ."

In [85]:
# Replace negations 
movies_no_negation = movies.replace("isn't", "is"); movies_no_negation

'the rest of the story is important because all it does is serve as a mere backdrop for the two stars to share the screen .'

In [86]:

# Replace important
movies_antonym = movies_no_negation.replace("important", "insignificant")

# Print out
print(movies_antonym)

the rest of the story is insignificant because all it does is serve as a mere backdrop for the two stars to share the screen .

# Formatting Strings

## Put it in order!
Your company is analyzing the best way to provide users with different online courses. Your job is to scrape Wikipedia pages searching for tools used in Data Science subfields. You'll store the tool and field name in a database. After a text analysis, you realize that the information is provided in a specific position of the text but sometimes the field name is given first and the tool after that, while in other cases it's the other way around.

You decide to use positional formatting to handle these situations because it provides a way to reorder placeholders.

The text of one article has already been saved in the variable wikipedia_article. Also, the empty list my_list is already defined. You can use print() to view the variable in the IPython Shell.

In [89]:
wikipedia_article= 'In computer science, artificial intelligence (AI), sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans and animals.';wikipedia_article

'In computer science, artificial intelligence (AI), sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans and animals.'

In [95]:
# Assign the substrings to the variables
first_pos = wikipedia_article[3:19].lower();first_pos

'computer science'

In [96]:
second_pos = wikipedia_article[21:44].lower();second_pos

'artificial intelligence'

In [120]:
my_list= []
# Define string with placeholders 
my_list.append("The tool {} is used in {}")

# Define string with rearranged placeholders
my_list.append("The tool {1} is used in {0}")

# Use format to print strings
for my_string in my_list:
  	print(my_string.format(first_pos, second_pos))

The tool computer science is used in artificial intelligence
The tool artificial intelligence is used in computer science

# Calling by its name
You have created your database with the tools and the different Data Science subfields they are used in. The company is considering creating courses using these tools and sending personalized emails to the users recommending the different topics. They have asked you to make this process more time-efficient. To do this, you want to create a template email with a standard message changing the different tools and corresponding field name.

First, you want to try doing this with just one example as a proof of concept. You use positional formatting and named placeholders to call the variables in a dictionary.

The variable courses containing one tool and one field name has been saved. You can use print(courses) to view the variable in the IPython Shell.

In [122]:
courses = ['artificial intelligence', 'neural networks']
plan = {
  		"field": courses[0],
        "tool": courses[1]
        }

# Complete the placeholders accessing elements of field and tool keys
my_message = "If you are interested in {data[field]}, you can take the course related to {data[tool]}"

# Use dictionary to replace placehoders
print(my_message.format(data=plan))

If you are interested in artificial intelligence, you can take the course related to neural networks

# slides

In [124]:
custom_string = "String formatting"
print(f"{custom_string} is a powerful technique")

String formatting is a powerful technique

In [125]:
print("Machine learning provides {} the ability to learn {}".format("systems", "automatically"))

Machine learning provides systems the ability to learn automatically

In [126]:
my_string = "{} rely on {} datasets"
method = "Supervised algorithms"
condition = "labeled"
print(my_string.format(method, condition))

Supervised algorithms rely on labeled datasets

In [127]:
print("{} has a friend called {} and a sister called {}".format("Betty", "Linda", "Daisy"))

Betty has a friend called Linda and a sister called Daisy

In [128]:
print("{2} has a friend called {0} and a sister called {1}".format("Betty", "Linda", "Daisy"))

Daisy has a friend called Betty and a sister called Linda

In [129]:
tool="Unsupervised algorithms"
goal="patterns"
print("{title} try to find {aim} in the dataset".format(title=tool, aim=goal))

Unsupervised algorithms try to find patterns in the dataset

In [130]:
print("Only {0:f}% of the {1} produced worldwide is {2}!".format(0.5155675, "data", "analyzed"))

Only 0.515567% of the data produced worldwide is analyzed!

In [131]:
print("Only {0:.2f}% of the {1} produced worldwide is {2}!".format(0.5155675, "data", "analyzed"))

Only 0.52% of the data produced worldwide is analyzed!

In [132]:
from datetime import datetime
print(datetime.now())

2019-12-23 12:10:42.228039

In [133]:
print("Today's date is {:%Y-%m-%d %H:%M}".format(datetime.now()))

Today's date is 2019-12-23 12:21

In [134]:
way = "code"
method = "learning Python faster"
print(f"Practicing how to {way} is the best method for {method}")

Practicing how to code is the best method for learning Python faster

In [135]:
name = "Python"
print(f"Python is called {name!r} due to a comedy series")

Python is called 'Python' due to a comedy series

In [136]:
number = 90.41890417471841
print(f"In the last 2 years, {number:.2f}% of the data was produced worldwide!")

In the last 2 years, 90.42% of the data was produced worldwide!

In [137]:
from datetime import datetime
my_today = datetime.now()
print(f"Today's date is {my_today:%B %d, %Y}")

Today's date is December 23, 2019

In [140]:
family = {"dad": "John", "siblings": "Peter"}
print("Is your dad called {family[dad]}?".format(family=family))

Is your dad called John?

In [142]:
print(f"Is your dad called {family['dad']}?")

Is your dad called John?

In [144]:
family = {"dad": "John", "siblings": "Peter"}
print(f"Is your dad called {family['dad']}?")

Is your dad called John?

In [145]:
my_number = 4
my_multiplier = 7
print(f'{my_number} multiplied by {my_multiplier} is {my_number * my_multiplier}')

4 multiplied by 7 is 28

In [0]:
def my_function(a, b):
  return a + b

In [148]:
print(f"If you sum up 10 and 20 the result is {my_function(10, 20)}")

If you sum up 10 and 20 the result is 30

In [149]:
from string import Template
my_string = Template('Data science has been called $identifier')
my_string.substitute(identifier="sexiest job of the 21st century")

'Data science has been called sexiest job of the 21st century'

In [150]:
from string import Template
job = "Data science"
name = "sexiest job of the 21st century"
my_string = Template('$title has been called $description')
my_string.substitute(title=job, description=name)

'Data science has been called sexiest job of the 21st century'

In [151]:
my_string = Template('I find Python very ${noun}ing but my sister has lost $noun')
my_string.substitute(noun="interest")

'I find Python very interesting but my sister has lost interest'

In [152]:
my_string = Template('I paid for the Python course only $$ $price, amazing!')
my_string.substitute(price="12.50")

'I paid for the Python course only $ 12.50, amazing!'

# What day is today?
It's lunch time and you are talking with some of your colleagues. They comment that they feel that every morning someone should send them a reminder of what day it is so they can check in the calendar what their assignments are for that day.

You want to help out and decide to write a small script that takes the date and time of the day so that every morning, a message is sent to your colleagues. You remember that you can use the module datetime along with named placeholders to achieve your goal.

The date should be expressed as April 16, 2019 and the time as 16:30.

You write down some specifiers to help you: %d(day), %B (month name), %m (month number), %Y(year), %H (hour) and %M(minutes)

You can use the IPython Shell to explore the module datetime

In [156]:
# Import datetime 
from datetime import datetime

# Assign date to get_date
get_date = datetime.now()

# Add named placeholders with format specifiers
message = "Good morning. Today is {today:%B %d, %Y}. It's {today:%H:%M} ... time to work!"

# Format date
print(message.format(today= get_date))

Good morning. Today is December 23, 2019. It's 12:43 ... time to work!

# Literally formatting
While analyzing the text from Wikipedia pages, you read that Python 3.6 introduced f-strings.

You remember that you've created a website that displayed data science facts but it was too slow. You think that it could be due to the string formatting you used. Because f-strings are very fast and easy to use, you decide to rewrite that project.

The variables field1, field2 and field3 containing character strings as well as the numeric variables fact1, fact2, fact3 and fact4 have been saved.

If you want to explore the variables, you can use print() to view them in the IPython Shell.

In [0]:
field1 = 'sexiest job'
field2 = 'data is produced daily'
field3 = 'Individuals'
fact1 = 21
fact2 = 2500000000000000000
fact3 = 72.41415415151
fact4 = 1.09

!s (string version)

!r (string containing a printable representation, i.e. with quotes)

!a (some that !r but escape the non-ASCII characters)

e (scientic notation, e.g. 5 10^3)

d (digit, e.g. 4)

f (oat, e.g. 4.5353)

In [162]:
# Complete the f-string (Complete the f-string to include the variable field1 with quotes and the variable fact1 as a digit.)
print(f"Data science is considered {field1!r} in the {field1}st century")

Data science is considered 'sexiest job' in the sexiest jobst century

In [163]:
# Complete the f-string to include the the variable fact2 using exponential notation, and the variable field2
print(f"About {fact2:e} of field2 in the world")

About 2.500000e+18 of field2 in the world

In [166]:
# Complete the f-string to include field3 together with fact3 rounded to 2 decimals, and fact4 rounded to one decimal.
print(f"{field3} create around {fact3:.2f}% of the data but only {fact4:.1f}% is analyzed")

Individuals create around 72.41% of the data but only 1.1% is analyzed

# Make this function
Wow! You are excited to see how fast and easy f-strings worked. So you plan to rewrite some more of your old code.

Now you know that f-strings allow you to evaluate expressions where they appear and include function and method calls. You decide to use them in a project where you analyze 120 tweets to check if they include links to different news. In that way, you expect the code to be cleaner and more readable.

The variables number1, number2,string1, and list_links have already been pre-loaded.

If you want to explore the variables, you can use print() to view them in the IPython Shell.

In [0]:
number1 = 120
number2 = 7
string1= 'httpswww.datacamp.com'
list_links = ['www.news.com',
 'www.google.com',
 'www.yahoo.com',
 'www.bbc.com',
 'www.msn.com',
 'www.facebook.com',
 'www.news.google.com']

In [170]:
# Inside the f-string, include number1,number2 and the result of dividing number1 by number2 rounded to one decimal.
print(f"{number1} tweets were downloaded in {number2} minutes indicating a speed of {number1/number2:.1f} tweets per min")

120 tweets were downloaded in 7 minutes indicating a speed of 17.1 tweets per min

In [171]:
# Inside the f-string, get list_links length, multiply it by 100 and divide it by 120. Round the result to two decimals.
print(f"Only {(len(list_links)*100/120):.2f}% of the posts contain links")

Only 5.83% of the posts contain links

In [172]:
# Inside the f-string, use .replace() to replace the substring https with an empty substring in string1
print(f"{string1.replace('https', '')}")

www.datacamp.com

# On time
Lastly, you want to rewrite an old real estate prediction project. At the time, you obtained historical information about house prices and used it to make a prediction on future values.

The date was in the datetime format: datetime.datetime(1990, 3, 17) but to print it out, you format it as 3-17-1990. You also remember that you defined a dictionary for each neighborhood. Now, you believe that you can handle both type of data better with f-strings.

Two dictionaries, east and west, both with the keys date and price, have already been loaded. You can use print() to view them in the IPython Shell.

In [0]:
import datetime
east = {'date': datetime.datetime(2007, 4, 20, 0, 0), 'price': 1232443}
west = {'date': datetime.datetime(2006, 5, 26, 0, 0), 'price': 1432673}

In [183]:
print(f"The price for a house in the east neighborhood was ${east['price']} in {east['date']:%m-%d-%Y}")

The price for a house in the east neighborhood was $1232443 in 04-20-2007

In [186]:
# Inside the f-string, access the values of the keys price and date in west dictionary. Format the date to month-day-year
print(f"The price for a house in the west neighborhood was ${west['price']} in {west['date']:%m-%d-%Y}.")

The price for a house in the west neighborhood was $1432673 in 05-26-2006.

# Preparing a report
Once again, you scraped Wikipedia pages. This time, you searched for the description of useful tools used for text mining. Your first task is to prepare a report about different tools you found. You want to format the information contained in the dataset to be printed out as: The (tool) is a (description).

In this case, template strings are the best solution to interpolate data generated by external sources into an already created template.

For this example, the variables tool1, tool2 and tool3 contain three article titles. Each variable description1, description2 and description3 contains the corresponding article description.

If you want to explore the variables, you can use print() to view them in the IPython Shell.

In [0]:
tool1= 'Natural Language Toolkit'
tool2 = 'TextBlob'
tool3 = 'Gensim'

In [0]:
description1 = 'suite of libraries and programs for symbolic and statistical natural language processing (NLP) for English written in the Python programming language. It was developed by Steven Bird and Edward Loper in the Department of Computer and Information Science at the University of Pennsylvania.'
description2 = 'Python library for processing textual data. It provides a simple API for diving into common natural language processing tasks such as part-of-speech tagging, noun phrase extraction, sentiment analysis, classification, translation, and more.'
description3 =  'Gensim is a robust open-source vector space modeling and topic modeling toolkit implemented in Python. It uses NumPy, SciPy and optionally Cython for performance. Gensim is specifically designed to handle large text collections, using data streaming and efficient incremental algorithms, which differentiates it from most other scientific software packages that only target batch and in-memory processing.'

In [191]:
# Import Template
from string import Template

# Create a template
wikipedia = Template("$tool is a $description")

# Substitute variables in template
print(wikipedia.substitute(tool=tool1, description=description1))

Natural Language Toolkit is a suite of libraries and programs for symbolic and statistical natural language processing (NLP) for English written in the Python programming language. It was developed by Steven Bird and Edward Loper in the Department of Computer and Information Science at the University of Pennsylvania.

In [192]:
print(wikipedia.substitute(tool=tool2, description=description2))

TextBlob is a Python library for processing textual data. It provides a simple API for diving into common natural language processing tasks such as part-of-speech tagging, noun phrase extraction, sentiment analysis, classification, translation, and more.

In [193]:
print(wikipedia.substitute(tool=tool3, description=description3))

Gensim is a Gensim is a robust open-source vector space modeling and topic modeling toolkit implemented in Python. It uses NumPy, SciPy and optionally Cython for performance. Gensim is specifically designed to handle large text collections, using data streaming and efficient incremental algorithms, which differentiates it from most other scientific software packages that only target batch and in-memory processing.

# Identifying prices
After you showed your report to your boss, he came up with the idea of offering courses to the company's users on some of the tools you studied. In order to make a pilot test, you will send an email offering a course about one of the tools, randomly chosen from your dataset. You also mention that the estimated fee needs to be paid on a monthly basis.

For writing the email, you will use Template strings. You remember that you need to be careful when you use the dollar sign since it is used for identifiers in this case.

For this example, the list tools contains the corresponding tool name, fee and payment type for the product offer. If you want to explore the variable, you can use print() to view it in the IPython Shell.

In [0]:
tools = ['Natural Language Toolkit', '20', 'month']

In [195]:
# Import template
from string import Template

# Select variables
our_tool = tools[0]
our_fee = tools[1]
our_pay = tools[2]

# Create template
course = Template("We are offering a 3-month beginner course on $tool just for $$ $fee ${pay}ly")

# Substitute identifiers with three variables
print(course.substitute(tool=our_tool, fee=our_fee, pay=our_pay))

We are offering a 3-month beginner course on Natural Language Toolkit just for $ 20 monthly

# Playing safe
You are in charge of a new project! Your job is to start collecting information from the company's main application users. You will make an online quiz and ask your users to voluntarily answer two questions. However, it is not mandatory for the user to answer both. You will be handling user-provided strings so you decide to use the Template method to print the input information. This allows users to double-check their answers before submitting them.

The answer of one user has been stored in the dictionary answers. You can use the print() function to view the variables in the IPython Shell.

In [196]:
answers = {'answer1': 'I really like the app. But there are some features that can be improved'}

# Import template
from string import Template

# Complete template string using identifiers
the_answers = Template("Check your answer 1: $answer1, and your answer 2: $answer2")

# Use substitute to replace identifiers
try:
    print(the_answers.substitute(answers))
except KeyError:
    print("Missing information")

Missing information

In [198]:
# Use safe_substitute to replace identifiers
try:
    print(the_answers.safe_substitute(answers))
except KeyError:
    print("Missing information")

Check your answer 1: I really like the app. But there are some features that can be improved, and your answer 2: $answer2

# Regular Expressions for Pattern Matching