<a href="https://colab.research.google.com/github/actuaryhafeez/coding/blob/master/Regular_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Concepts of String Manipulation

# First day!
Congratulations! It's your first day as a data scientist in the company! Your first project is to build a model for predicting if a movie will get a positive or negative review.
You need to start exploring your dataset. In order to create a function that will scan each movie review, you want to know how many characters every string has and print the result out together with a statement that indicate what the number refers to. To test if your function works correctly, you are going to start by analyzing only one example.

The text of one movie review has been already saved in the variable movie. You can use print(movie) to view the variable in the IPython Shell.

In [1]:
movie = 'fox and kelley soon become bitter rivals because the new fox books store is opening up right across the block from the small business .'; movie

'fox and kelley soon become bitter rivals because the new fox books store is opening up right across the block from the small business .'

In [2]:
# Find characters in movie variable
length_string = len(movie); length_string

135

In [3]:
# Convert to string
to_string = str(length_string); to_string

'135'

In [4]:
# Predefined variable
statement = "Number of characters in this review:"; statement

'Number of characters in this review:'

In [5]:
# Concatenate strings and print result
print(statement+ " "+to_string)

Number of characters in this review: 135

In [29]:
my_string = "Awesome day"; my_string

'Awesome day'

In [30]:
print(my_string[-1])

y

In [31]:
print(my_string[0:3])

Awe

In [32]:
print(my_string[::-1])

yad emosewA

In [33]:
my_string = "tHis Is a niCe StriNg"
print(my_string.capitalize())

This is a nice string

In [34]:
my_string.split(sep=" ", maxsplit=2)

['tHis', 'Is', 'a niCe StriNg']

In [35]:
my_string.rsplit(sep=" ", maxsplit=2)

['tHis Is a', 'niCe', 'StriNg']

In [37]:
my_string = "This string will be split\nin two"
print(my_string)

This string will be split
in two

In [38]:
my_string = "This string will be split\nin two"
my_string.splitlines()

['This string will be split', 'in two']

In [39]:
my_list = ["this", "would", "be", "a", "string"]
print(" ".join(my_list))

this would be a string

In [40]:
my_string = " This string will be stripped\n"
my_string.strip()

'This string will be stripped'

In [43]:
my_string = " This string will be stripped\n"
my_string.rstrip()

'This string will be stripped\n'

In [44]:
my_string.lstrip()

'This string will be stripped\n'

In [45]:
my_string = "Where's Waldo?"
my_string.find("Waldo")

8

In [46]:
my_string.find("Wenda")

-1

In [47]:
my_string = "Where's Waldo?"
my_string.find("Waldo", 0, 6)

-1

In [48]:
my_string = "Where's Waldo?"
my_string.index("Waldo")

8

In [49]:
my_string = "Where's Waldo?"
try:
  my_string.index("Wenda")
except ValueError:
  print("Not found")

Not found

In [50]:
my_string = "How many fruits do you have in your fruit basket?"
my_string.count("fruit")

2

In [51]:
my_string.count("fruit", 0, 16)

1

In [54]:
my_string = "The red house is between the blue house and the old house"
print(my_string.replace("house", "car"))

The red car is between the blue car and the old car

In [55]:
print(my_string.replace("house", "car", 2))

The red car is between the blue car and the old house

**Artificial reviews**
While checking out the movie reviews in your dataset, you realize that some of them show an atypical pattern. Since you should only include true reviews in your analysis, you decide to extract the suspicious ones that follow this pattern. You want to see if it is possible to artificially create reviews by using the first and last part of one example review and changing a keyword in the middle.

The text of two movie reviews has been already saved in the variables **movie1 **and **movie2**. You can use the print() function to view the variables in the IPython Shell.

In [6]:
movie1= 'the most significant tension of _election_ is the potential relationship between a teacher and his student .';movie1

'the most significant tension of _election_ is the potential relationship between a teacher and his student .'

In [7]:
movie2= 'the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .'; movie2

'the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .'

In [8]:
# Select the first 32 characters of movie1
first_part = movie1[:32]; first_part

'the most significant tension of '

In [9]:
# Select from 43rd character to the end of movie1
last_part = movie1[42:]; last_part

' is the potential relationship between a teacher and his student .'

In [10]:
# Select from 33rd to the 42nd character
middle_part = movie2[32:42]; middle_part

'_rushmore_'

In [11]:
# Print concatenation and movie2 variable
print(first_part+middle_part+last_part) 
print(movie2)

the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .
the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .

# Palindromes
Next, you are committed to find any peculiarity in the words included in the movie review dataset. A palindrome is a sequence of characters which can be read the same backward as forward, for example: Madam or No lemon, no melon. You realize that there are some funny movie names that can have this characteristic. You want to make a list of all movie titles that are funny palindromes but you will start by analyzing one example.

In python, you can also specify steps by using a third index. If you don't specify the first or second index and the third one is negative, it will return the characters jumping and backwards.

The text of a movie review for one example has been already saved in the variable movie. You can use print(movie) to view the variable in the IPython Shell.

In [12]:
movie = 'oh my God! desserts I stressed was an ugly movie';movie

'oh my God! desserts I stressed was an ugly movie'

In [13]:
# Get the word
movie_title = movie[11:30]; movie_title

'desserts I stressed'

In [15]:
# Obtain the palindrome
palindrome = movie_title[::-1]; palindrome

'desserts I stressed'

In [16]:
# Print the word if it's a palindrome
if movie_title == palindrome:
	print(movie_title)

desserts I stressed

# Normalizing reviews
It's time to extract some important words present in your movie review dataset. First, you need to normalize them and then, count their frequency. Part of the normalization implies converting all the words to lowercase, removing special characters and extracting the root of a word so you count the variants as one.

So imagine you have the following reviews: The movie surprises me very much and Marvel movies always surprise their audience. If you count the word frequency, you will count surprises one time and surprise one time. However, the verb surprise appears in both and its frequency should be two.

The text of a movie review for only one example has been already saved in the variable movie. You can use print(movie) to view the variable in the IPython Shell.

In [17]:
movie = '$I supposed that coming from MTV Films I should expect no less$'; movie

'$I supposed that coming from MTV Films I should expect no less$'

In [18]:
# Convert to lowercase and print the result
movie_lower = movie.lower()
print(movie_lower)

$i supposed that coming from mtv films i should expect no less$

In [19]:
# Remove whitespaces and print the result
movie_no_space = movie_lower.strip("$")
print(movie_no_space)

i supposed that coming from mtv films i should expect no less

In [20]:
# Split the string into substrings and print the result
movie_split = movie_no_space.split()
print(movie_split)

['i', 'supposed', 'that', 'coming', 'from', 'mtv', 'films', 'i', 'should', 'expect', 'no', 'less']

In [21]:
# Select root word and print the result
word_root = movie_split[1][:-1]
print(word_root)

suppose

# Time to join!
While normalizing your text, you noticed that one review had a particular structure. This review ends with the HTML tag <\i> and it has a lot of commas in different places of the sentence. You decide to remove the tag from the end and use the strategy of splitting the string and joining it back again without the commas.

The text of a movie review has been already saved in the variable movie. You can use print(movie) to view the variable in the IPython Shell.

In [22]:
movie =  'the film,however,is all good<\\i>'; movie

'the film,however,is all good<\\i>'

In [23]:
# Remove tags happening at the end and print results
movie_tag = movie.rstrip("<\i>")
print(movie_tag)

the film,however,is all good

In [24]:
# Split the string using commas and print results
movie_no_comma = movie_tag.split(",")
print(movie_no_comma)

['the film', 'however', 'is all good']

In [25]:
# Join back together and print results
movie_join = " ".join(movie_no_comma)
print(movie_join)

the film however is all good

# Split lines or split the line?
You are about to leave work when a colleague asks you to use your string manipulation skills to help him. You need to read strings from a file in a way that if the file contains strings on different lines, they are stored as separate elements. He also wants you to break the strings into pieces if you see that they contain commas.

The text of the file has been already saved in the variable file. You can use print(file) to view the variable in the IPython Shell.

In [26]:
file = 'mtv films election, a high school comedy, is a current example\nfrom there, director steven spielberg wastes no time, taking us into the water on a midnight swim'; file

'mtv films election, a high school comedy, is a current example\nfrom there, director steven spielberg wastes no time, taking us into the water on a midnight swim'

In [27]:
# Split string at line boundaries
file_split = file.splitlines()

# Print file_split
print(file_split)

['mtv films election, a high school comedy, is a current example', 'from there, director steven spielberg wastes no time, taking us into the water on a midnight swim']

In [28]:
# Complete for-loop to split by commas
for substring in file_split:
    substring_split = substring.split(",")
    print(substring_split)

['mtv films election', ' a high school comedy', ' is a current example']
['from there', ' director steven spielberg wastes no time', ' taking us into the water on a midnight swim']

# Finding a substring
It's a new day at work and you need to continue cleaning your dataset for the movie prediction project. While exploring the dataset, you notice a strange pattern: there are some repeated, consecutive words occurring between the character at position 37 and the character at position 41. You decide to write a function to find out which movie reviews show this peculiarity, remembering that the ending position you specify is not inclusive. If you detect the word, you also want to change the string by replacing it with only one instance of the word.

Complete the if-else statement following the instructions.

The text of three movie reviews has been already saved in the variable movies. You can use print(movies) to view the variable in the IPython Shell.

In [73]:
dict = {200: "it's clear that he's passionate about his beliefs , and that he's not just a punk looking for an excuse to beat people up .",
201: "I believe you I always said that the actor actor actor is amazing in every movie he has played",
202: "it's astonishing how frightening the actor actor norton looks with a shaved head and a swastika on his chest."}; dict

{200: "it's clear that he's passionate about his beliefs , and that he's not just a punk looking for an excuse to beat people up .",
 201: 'I believe you I always said that the actor actor actor is amazing in every movie he has played',
 202: "it's astonishing how frightening the actor actor norton looks with a shaved head and a swastika on his chest."}

In [76]:
import pandas as pd
movies = pd.Series(dict); movies

200    it's clear that he's passionate about his beli...
201    I believe you I always said that the actor act...
202    it's astonishing how frightening the actor act...
dtype: object

In [77]:
for movie in movies:
  	# Find if actor occurrs between 37 and 41 inclusive
    if movie.find("actor", 37, 42) == -1:
        print("Word not found")
    # Count occurrences and replace two by one
    elif movie.count("actor") == 2:  
        print(movie.replace("actor actor", "actor"))
    else:
        # Replace three occurrences by one
        print(movie.replace("actor actor actor", "actor"))

Word not found
I believe you I always said that the actor is amazing in every movie he has played
it's astonishing how frightening the actor norton looks with a shaved head and a swastika on his chest.

In [0]:
dict = {137: "heck , jackie doesn't even have enough money for a haircut , looks like , much less a personal hairstylist .",
 138: "in condor , chan plays the same character he's always played , himself , a mixture of bruce lee and tim allen , a master of both kung-fu and slapstick-fu ."}

In [0]:
movies = pd.Series(dict)

# Where's the word?
Before finishing cleaning your dataset, you want to check if a specific word occurs in the reviews. You noticed earlier a specific pattern in the strings. Now, you want to create a function to check if a word is present between characters with index 12, and 50, remembering that ending position is exclusive, and print out the lowest index where this word occurs. There are two methods to handle this situation. You want to see which one works best.

The text of two movie reviews has been already saved in the variable movies. You can use print(movies) to view the variable in the IPython Shell.

In [83]:
for movie in movies:
  try:
    # Find the first occurrence of word
  	print(movie.index('money', 12, 51))
  except ValueError:
    print("substring not found")

39
substring not found

# Replacing negations
In order to keep working with your prediction project, your next task is to figure out how to handle negations that occur in your dataset. Some algorithms for prediction do not work well with negations, so a good way to handle this is to remove either not or n't, and to replace the next word by its antonym.

Let's imagine that you have the string: The movie isn't good. You will need to remove n't and replace good for bad. This way, your string ends up being The movie is bad. You notice that in the first column of the dataset, you have a string that uses the word isn't followed by important.

The text of this column has been already saved in the variable movies so you start working with it. You can use print(movies) to view it in the IPython Shell.

In [0]:
movies = "the rest of the story isn't important because all it does is serve as a mere backdrop for the two stars to share the screen ."

In [85]:
# Replace negations 
movies_no_negation = movies.replace("isn't", "is"); movies_no_negation

'the rest of the story is important because all it does is serve as a mere backdrop for the two stars to share the screen .'

In [86]:

# Replace important
movies_antonym = movies_no_negation.replace("important", "insignificant")

# Print out
print(movies_antonym)

the rest of the story is insignificant because all it does is serve as a mere backdrop for the two stars to share the screen .